__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
.eggs/
*.egg

data/raw/
data/interim/
data/processed/
output/
notebooks/

.venv/
.env
*.pkl
*.h5

.ruff_cache/
.mypy_cache/
.pytest_cache/

.DS_Store
Thumbs.db